<h3>Student list</h3>
<a class="btn btn-success" [routerLink]="['/create']">Create customer</a>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mark</th>
    <th>Result</th>
    <th>Avatar</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark >=5" class="text-success">PASS</td>
    <td *ngIf="student.mark <5" class="text-danger">FAIL</td>
    <td><img [src]="student.avatar"></td>
    <td>
      <button class="btn btn-success" (click)="openDialogDetail(student)">Detail</button>
<!--      <button class="btn btn-success" (click)="openDialogDetail(customer)">Detail</button>-->
      <button class="btn btn-warning" [routerLink]="['/update', student.id]" style="margin-left: 10px">Edit</button>
<!--      <button class="btn btn-danger" (click)="openDialogDelete(customer)" style="margin-left: 10px">Delete</button>-->
    </td>
  </tr>
  </tbody>
</table>

