<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>

<div th:insert="layout::header"></div>

<h2>Edit product</h2>

<p><a href="/product">Back to product list</a></p>

<form method="post" th:action="@{/update}" th:object="${product}">
    <input th:field="*{id}" hidden>
    <table>
        <tr>
            <td><label>Name: </label></td>
            <td><input th:text="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><label>Price: </label></td>
            <td><input th:text="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Update</button>
            </td>
        </tr>
    </table>
</form>

<div th:insert="layout::footer"></div>

</body>
</html>
</html>