<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:fragment="bootstrap_head">
    <meta charset="UTF-8">
    <title>Ôn tập kiến thức</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" ntegrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        h2 {
            color: red;
            text-align: center;
        }

        .validColor {
            color: red;
        }

        .inputSearch{
            text-align: center;
        }
    </style>


</head>

<body>

<div th:fragment="header">
    <div class="display">
        <div class="header">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="codegym.png" alt="" width="30" height="30"
                             class="d-inline-block align-text-top">
                    </a>
                    <p class="d-flex">Võ Trung Trọng</p>
                </div>
            </nav>
            <nav class="navbar navbar-light" style="background-color: #3f4348;">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-sm navbar-dark">
                        <a class="navbar-brand" href="/">Home</a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

<!--                        <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--                            <ul class="navbar-nav">-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" href="/employee/list">Employee</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" href="/customer/list">Customer</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" href="/service/list">Service</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" href="/contract/list">Contract</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </nav>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <div class="footer">
        <footer class="page-footer font-small blue footer fixed-bottom" style="background-color: #d1a49b">
            <div class="footer-copyright text-center py-3">© Facebook:
                <a href="https://facebook.com/trungtrong2020"> Võ Trung Trọng </a>
            </div>
        </footer>
    </div>
</div>
</div>

<div th:fragment="bootstrap_body">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
</div>

</body>
</html>