<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout :: bootstrap_head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:insert="layout :: header"></div>

<h2>Danh sách giao dịch nhà đất</h2>

<h2><a class="btn btn-primary" href="/create" role="button">Thêm mới</a></h2>

<p style="text-align: center; color: green" th:text="${msg}"></p>

<!--<form method="get" action="" class="inputSearch">-->
<!--    <span>Tên Khách hàng: </span>-->
<!--    <input name="name" th:value="${name}" onchange="this.form.submit()">-->
<!--    <span>Loại dịch vụ: </span>-->
<!--    <select name="loaiDV" onchange="this.form.submit()">-->
<!--        <option value="">None</option>-->
<!--        <th:block th:each="loaidichvu : ${loaiDichVus}">-->
<!--            <option th:unless="${loaidichvu.value  == loaiDV}" th:value="${loaidichvu.value}"-->
<!--                    th:text="${loaidichvu.value}"></option>-->
<!--            <option th:if="${loaidichvu.value  == loaiDV}" th:value="${loaidichvu.value}" th:text="${loaidichvu.value}"-->
<!--                    selected></option>-->
<!--        </th:block>-->
<!--    </select>-->
<!--</form>-->

<table class="table table-hover" style="text-align: center">
    <tr>
        <th>Mã giao dịch</th>
        <th>Tên khách hàng</th>
        <th>Ngày giao dịch</th>
        <th>Loại giao dịch</th>
        <th>Đơn giá(VND/m2)</th>
        <th>Diện tích(m2)</th>
        <th>Actions</th>

    </tr>
    <tr th:each="transaction : ${transactions}">
        <td th:text=" 'MGD-' + ${ transaction.id}"></td>
        <td th:text="${transaction.customer.name}"></td>
        <td th:text="${#temporals.format(transaction.dayTrading,'dd-MM-yyyy')}"></td>
        <td th:text="${transaction.type}"></td>
        <td th:text="${transaction.price}"></td>
        <td th:text="${transaction.area}"></td>
        <td><a class="btn btn-warning" th:href="@{/detail/{id}(id = ${transaction.id})}">Chi tiết</a></td>
    </tr>
</table>



<div th:insert="layout :: footer"></div>

<div th:insert="layout :: bootstrap_body"></div>

</body>
</html>