<h1 mat-dialog-title>Student information</h1>

<mat-dialog-content>
  <p><label>Id: </label> {{student.id}}</p>
  <p><label>Name: </label> {{student.name}}</p>
  <p><label>Age: </label> {{student.age}}</p>
  <p><label>Mark: </label> {{student.mark}}</p>
  <p><label>Avatar: </label> <img [src]="student.avatar"></p>
  <label>Edit mark: <input value="{{student.mark}}" (change)="setMark($event)" type="number"></label>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
