<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List customer</title>
</head>
<body>
<div th:insert="layout :: header"></div>
<h2>Customer</h2>

<p><a th:href="@{/create}">Add new customer</a></p>

<table border="1">
    <tr>
        <td>No</td>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="list,loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.email}"></td>
        <td th:text="${list.address}"></td>
<!--        @ReqquestParam-->
        <td><a th:href="@{/show(id=${list.id})}">Show infor</a></td>
<!--        @PathVariable-->
        <td><a th:href="@{/{id}/edit(id=${list.id})}">Edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${list.id})}">Delete</a></td>
    </tr>
</table>

<div th:replace="layout :: footer"></div>
</body>
</html>
</html>