<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show infor customer</title>
</head>
<body>
<p><a th:href="@{/customer}">Back to customer list</a></p>

<form th:object="${customer}">
    <table>
        <tr>
            <td><label>Id: </label></td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td><label>Name: </label></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><label>Email: </label></td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
    </table>
</form>
</body>
</html>
</html>