<h3>List customer</h3>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Day of birthday</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Acctions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.name}}</td>
    <td>{{customer.typeCustomer.name}}</td>
    <td>{{customer.dayOfBirthday}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>
      <!--      <button mat-button (click)="openDialog()"> Mở hộp thoại</button>-->
      <button class="btn btn-success" (click)="openDialogDetail(customer)">Detail</button>
      <button class="btn btn-warning" (click)="editCustomer(customer)" style="margin-left: 10px">Edit</button>
      <button class="btn btn-danger" (click)="openDialogDelete(customer)" style="margin-left: 10px">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<app-create-customer [customerEdit]="customerEdit"></app-create-customer>


