<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout :: bootstrap_head">
    <meta charset="UTF-8">
    <title>Service list</title>
</head>
<body>

<div th:insert="layout :: header"></div>

<h2>Service list</h2>

<h2><a class="btn btn-primary" href="/service/create" role="button">Create service</a></h2>


<p style="text-align: center; color: green" th:text="${msg}"></p>

<form method="get" action="" class="inputSearch">

    <input type="text" name="nameSearch" th:value="${nameSearch}" placeholder="Enter name">
    <button type="submit">Search</button>
    <br>

    <select name="idRentTypeSearch" onchange="this.form.submit()">
        <option value="">None Rent type</option>
        <option th:each="rentType : ${rentTypes}" th:if="${rentType.id} == ${idRentTypeSearh}" selected
                th:value="${rentType.id}" th:text="${rentType.name}"></option>
        <option th:each="rentType : ${rentTypes}" th:if="${rentType.id} != ${idRentTypeSearh}"
                th:value="${rentType.id}" th:text="${rentType.name}"></option>
    </select>

    <select name="idServiceTypeSearch" onchange="this.form.submit()">
        <option value="">None Service type</option>
        <option th:each="serviceType : ${serviceTypes}" th:if="${serviceType.id} == ${idServiceTypeSearch}" selected
                th:value="${serviceType.id}" th:text="${serviceType.name}"></option>
        <option th:each="serviceType : ${serviceTypes}" th:if="${serviceType.id} != ${idServiceTypeSearch}"
                th:value="${serviceType.id}" th:text="${serviceType.name}"></option>
    </select>
</form>

<table class="table table-hover" style="text-align: center">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Max people</th>
        <th>Pool area</th>
        <th>Number of floors</th>
        <th>Rent type</th>
        <th>Service type</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="service,loop : ${services}">
        <td th:text="${loop.count}"></td>
        <td th:text="${service.name}"></td>
        <td th:text="${service.cost}"></td>
        <td th:text="${service.maxPeople}"></td>
        <td th:text="${service.poolArea}"></td>
        <td th:text="${service.numberOfFloors}"></td>
        <td th:text="${service.rentType.name}"></td>
        <td th:text="${service.serviceType.name}"></td>
        <td>
            <button class="btn btn-primary" th:onclick="'javascript:showDetail(\''+${service.id} + '\')'">Detail
            </button>
        </td>
        <td>
            <!--            <button class="btn btn-warning" th:onclick="'javascript:showEdit(\''+${service.id}+'\')'">Edit</button>-->
            <a class="btn btn-warning" th:href="@{/service/edit/{id}(id = ${service.id})}">Edit</a>
        </td>
        <td>
            <button class="btn btn-danger btnModalDelete">Delete</button>
            <input type="hidden" th:value="${service.id}">
        </td>
    </tr>
</table>

<!--phân trang-->
<div style=" margin-left: 940px">
    <nav aria-label="...">
        <ul class="pagination">
            <li>
                <a th:if="${services.hasPrevious()}" class="page-item page-link"
                   th:href="@{/service/list(page=${services.number},nameSearch=${nameSearch},idRentTypeSearh=${idRentTypeSearh},idServiceTypeSearch=${idServiceTypeSearch})}"
                   tabindex="-1" aria-disabled="true">Previous</a>
                <a th:unless="${services.hasPrevious()}" class="page-item disabled page-link" tabindex="-1"
                   aria-disabled="true">Previous</a>
            </li>
            <!---->
            <li th:each="pageNo : ${#numbers.sequence(1,services.totalPages)}" class="page-item">
                <a th:if="${pageNo != services.number +1 && pageNo != 0}" class="page-link" th:text="${pageNo}"
                   th:href="@{/service/list(page=${pageNo},nameSearch=${nameSearch},idRentTypeSearh=${idRentTypeSearh},idServiceTypeSearch=${idServiceTypeSearch})}"></a>
                <a th:if="${pageNo == services.number +1}" style="color: red" class="page-link"
                   th:text="${pageNo}"></a>
            </li>
            <!---->
            <li>
                <a th:if="${services.hasNext()}" class="page-item page-link"
                   th:href="@{/service/list(page=${services.number+2},nameSearch=${nameSearch},idRentTypeSearh=${idRentTypeSearh},idServiceTypeSearch=${idServiceTypeSearch})}">
                    Next</a>
                <a th:unless="${services.hasNext()}" class="page-item disabled page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>

<!--modal-->
<div class="modal" id="modalId" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


<div th:insert="layout :: footer"></div>

<div th:insert="layout :: bootstrap_body"></div>

<script>

    // Close modal
    function closeModal() {
        $(".close").click(function () {
            $('#modalId').modal('toggle');
        });
    }

    $(document).ready(function () {
        $(".btnModalDelete").click(function () {
            $.ajax({
                type: "GET",
                url: "/service/formDelete/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-content").html(data);
                    $("#modalId").modal("show");
                    closeModal.call();
                },
            })
        })
    })

    function showDetail(id) {
        $.ajax({
            type: "GET",
            url: "/service/detail/" + id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-content").html(data);
                $("#modalId").modal("show");
                closeModal.call();
            }
        });
    }

    // function showEdit(id) {
    //     console.log(id)
    //     $.ajax({
    //         type: "GET",
    //         url: "/service/edit/" + id,
    //         dataType: "HTML",
    //         success: function (dataEdit) {
    //             $(".modal-content").html(dataEdit);
    //             $("#modalId").modal("show");
    //             closeModal.call();
    //             $(".save").click(function () {
    //                 var data = $('form#form_input').serialize();
    //                 console.log(data);
    //                 $.ajax({
    //                     type: "POST",
    //                     url: "/service/save?" + data,
    //                     // success: function(dataSave){
    //                     //    window.location.reload();
    //                     // },
    //                     // error: function (e) {
    //                     //     console.log(e.message);
    //                     // }
    //                 })
    //             });
    //         }
    //     })
    // }


</script>

</body>
</html>