<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delele student</title>
</head>
<body>
<h2>Delete student</h2>
<p><a href="/student/list">Back to student list</a></p>
<form method="post" action="/student/remove" th:object="${student}">
    <table>
        <tr>
            <td>ID:</td>
            <td><input th:field="*{id}" readonly></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" readonly></td>
        </tr>
        <tr>
            <td>Date of birthday:</td>
            <td><input th:field="*{dateOfBirthday}" readonly></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <!--            <td><input th:field="*{gender}" readonly></td>-->
            <td th:switch="*{gender}">
                <input th:case='0' value="Female">
                <input th:case="1" value="Male">
                <input th:case="*" value="LGBT">
            </td>
        </tr>
        <tr>
            <td>Class:</td>
            <td><input th:field="*{class_student}" readonly></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
</html>