<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List student</title>
    <style>
        h2, p, form{
            text-align: center;
        }
        table{
            margin-left: 500px;
            margin-top: 20px;
        }
        h2{
            color: red;
        }
    </style>
</head>
<body>
<div th:insert="layout :: header"></div>
<h2>List student</h2>
<p><a href="/student/create">Create student</a></p>
<form method="post" action="/student/search">
    <input type="text" name="nameSearch" th:value="${nameSearch}">
    <button>Seach</button>
</form>
<div>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Date of birthday</th>
            <th>Gender</th>
            <th>Class</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="listStudent,loop : ${list}">
            <td th:text="${loop.count}"></td>
            <td th:text="${listStudent.name}"></td>
            <td th:text="${listStudent.dateOfBirthday}"></td>
            <td th:switch="${listStudent.gender}">
                <span th:case="0">Female</span>
                <span th:case="1">Male</span>
                <span th:case="*">LGBT</span>
            </td>
            <td th:text="${listStudent.class_student}"></td>
            <td><a th:href="@{/student/detail(id=${listStudent.id})}">Detail</a></td>
            <td><a th:href="@{/student/{id}/edit(id=${listStudent.id})}">Edit</a></td>
            <td><a th:href="@{/student/{id}/delete(id=${listStudent.id})}">Delete</a></td>
        </tr>
    </table>
</div>
<div th:insert="layout :: footer"></div>

</body>
</html>
</html>
