<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout :: bootstrap_head">
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>

<div th:insert="layout :: header"></div>

<h2>Detail/Delete customer</h2>

<form method="post" action="/customer/remove" style="margin-left: 40%">
    <input th:field="${customer.id}" type="hidden">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="${customer.name}" readonly></td>
        </tr>

        <tr>
            <td>Date of birthday:</td>
            <td><input type="date" th:field="${customer.dateOfBirthday}" readonly></td>
        </tr>

        <tr>
            <td>Gender:</td>
            <td th:switch="${customer.gender}">
                <label th:case="0">Female</label>
                <label th:case="1">Male</label>
                <label th:case="2">LGBT</label>
            </td>
        </tr>
        <tr>
            <td>Id-Card:</td>
            <td><input th:field="${customer.idCard}" readonly></td>
        </tr>
        <tr>
            <td>Number phone:</td>
            <td><input th:field="${customer.phone}" readonly></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input th:field="${customer.email}" readonly></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input th:field="${customer.address}" readonly></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input th:field="${customer.customerType.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="/customer/list" class="btn btn-light" role="button">Back</a>
                <button th:if="${checkDetail==null}" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</form>


<div th:insert="layout :: footer"></div>

<div th:insert="layout :: bootstrap_body"></div>

</body>
</html>