<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout :: bootstrap_head">
    <meta charset="UTF-8">
    <title>Detail employee</title>
</head>
<body>

<div th:insert="layout :: header"></div>
<h2>Detail employee</h2>

<form method="post" action="/employee/delete" style="margin-left: 40%">
    <input type="hidden" th:field="${employee.id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="${employee.name}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.name')}" th:errors="${employee.name}"></p>
            </td>
        </tr>

        <tr>
            <td>Day of birth:</td>
            <td><input th:field="${employee.dayOfBirth}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.dayOfBirth')}"
                   th:errors="${employee.dayOfBirth}"></p>
            </td>
        </tr>

        <tr>
            <td>Id-Card:</td>
            <td><input th:field="${employee.idCard}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.idCard')}"
                   th:errors="${employee.idCard}"></p></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input th:field="${employee.salary}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.salary')}"
                   th:errors="${employee.salary}"></p></td>
        </tr>
        <tr>
            <td>Number phone:</td>
            <td><input th:field="${employee.phone}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.phone')}" th:errors="${employee.phone}"></p>
            </td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input th:field="${employee.email}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.email')}" th:errors="${employee.email}"></p>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input th:field="${employee.address}" readonly></td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.address')}"
                   th:errors="${employee.address}"></p></td>
        </tr>
        <tr>
            <td>Division:</td>
            <td><input th:field="${employee.division.name}" readonly><td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.division')}"
                   th:errors="${employee.division}"></p></td>
        </tr>
        <tr>
            <td>educationDegree:</td>
            <td><input th:field="${employee.educationDegree.name}" readonly><td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.educationDegree')}"
                   th:errors="${employee.educationDegree}"></p></td>
        </tr>
        <tr>
            <td>position:</td>
            <td><input th:field="${employee.position.name}" readonly><td>
            <td><p class="validColor" th:if="${#fields.hasErrors('employee.position')}"
                   th:errors="${employee.position}"></p></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="/employee/list" class="btn btn-light" role="button">Back</a>
                <button th:if="${checkRemove != null}" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</form>

<div th:insert="layout :: footer"></div>
<div th:insert="layout :: bootstrap_body"></div>
</body>
</html>