<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout::bootstrap_head">
    <meta charset="UTF-8">
    <title>Employee list</title>
</head>
<body>

<div th:insert="layout :: header"></div>

<h2>Employee list</h2>

<h2><a class="btn btn-primary" href="/employee/create" role="button">Create employee</a></h2>

<p style="text-align: center; color: green" th:text="${msg}"></p>

<form method="get" action="" class="inputSearch">
    <input type="text" name="nameSearch" th:value="${nameSearch}">
    <button type="submit">Search</button>
</form>

<table class="table table-hover">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Email</th>
        <th>Address</th>
        <th>Divition</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="employee,loop : ${employees}">
        <td th:text="${loop.count}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.dayOfBirth}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.division.name}"></td>
        <td><a class="btn btn-primary" th:href="@{/employee/{id}/detail(id=${employee.id})}" role="button">Detail</a></td>
        <td><a class="btn btn-warning" th:href="@{/employee/{id}/update(id=${employee.id})}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{/employee/{id}/remove(id=${employee.id})}" role="button">Delete</a></td>
    </tr>
</table>

<div style=" margin-left: 940px">
    <nav aria-label="...">
        <ul class="pagination">
            <li th:if="${employees.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{/employee/list(page=${employees.number},nameSearch=${nameSearch})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li th:if="${!employees.hasPrevious()}" class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <th:block th:each="pageNo : ${#numbers.sequence(1,employees.totalPages)}">
                <li class="page-item">
                    <a th:if="${pageNo != employees.number +1 && pageNo != 0}" class="page-link"
                       th:href="@{/employee/list(page=${pageNo},nameSearch=${nameSearch})}" th:text="${pageNo}"></a>
                </li>
                <li class="page-item active">
                    <a th:if="${pageNo == employees.number +1}" class="page-link"
                       th:href="@{/employee/list(page=${pageNo},nameSearch=${nameSearch})}" th:text="${pageNo}"></a>
                </li>
            </th:block>

            <li th:if="${employees.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{/employee/list(page=${employees.number + 2},nameSearch=${nameSearch})}">Next</a>
            </li>
            <li th:if="${!employees.hasNext()}" class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>

<div th:insert="layout :: footer"></div>

<div th:insert="layout :: bootstrap_body"></div>
</body>
</html>