<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail product</title>
</head>
<body>
<h2>Detail product</h2>
<p><a href="/product/list">Back to product list</a></p>

<table>
    <tr>
        <td>Id:</td>
        <td th:field="${product.id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:field="${product.name}"></td>
    </tr>
    <tr>
        <td>Date of birthday:</td>
        <td th:field="${product.dateOfBirthday}"></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td th:field="${product.gender}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:field="${product.address}"></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td th:field="${product.typeProduct.nameType}"></td>
    </tr>
</table>

</body>
</html>