<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h2>Create Smart Phone</h2>

<p style="color: red" id="result"></p>

<p>producer: </p>
<input type="text" id="producer">

<p>Model: </p>
<input type="text" id="model">

<p>producer: </p>
<input type="number" id="price">

<input type="button" id="buttonClick" value="Create">

<script>
    $(document).ready(function () {
        $('#buttonClick').click(function (event) {
            var producer = document.getElementById("producer").value;
            var model = document.getElementById("model").value;
            var price = document.getElementById("price").value;
            var smartPhone = {"producer":producer,"model":model, "price": price};
            console.log(smartPhone);
            $.ajax({
                headers:{
                    'Accept' : "application/json",
                    'Content-Type' : 'application/json'
                },
                type : "POST",
                data: JSON.stringify(smartPhone),
                url : "/create",
                success: function (smartPhone) { // sử lý kq trả về (ngoài ra còn error trả về lỗi)
                    var content = "";
                    // content+="<span>Smart phone was create </span>";
                    // content+= smartPhone.producer;
                    // document.getElementById("result").innerHTML = content;

                    content+="Đã thêm thành công ";
                    content+= smartPhone.producer;
                    alert(content)
                }
            })
        })
    });
</script>

</body>
</html>