<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h2>Edit Smart Phone</h2>

<p style="color: red" id="result"></p>

<input type="hidden" th:field="${smartPhone.id}">
<p>producer: </p>
<input type="text" id="producer" th:field="${smartPhone.producer}">

<p>Model: </p>
<input type="text" id="model" th:field="${smartPhone.model}">
<p>price: </p>
<input type="number" id="price" th:field="${smartPhone.price}">

<input type="button" id="buttonClick" value="Create">

<script>
    $(document).ready(function () {
        $('#buttonClick').click(function (event) {
            var id = document.getElementById("id").value;
            var producer = document.getElementById("producer").value;
            var model = document.getElementById("model").value;
            var price = document.getElementById("price").value;
            var smartPhone = {"id":id,"producer":producer,"model":model, "price": price};
            console.log(smartPhone);
            $.ajax({
                headers:{
                    'Accept' : "application/json",
                    'Content-Type' : 'application/json'
                },
                type : "POST",
                data: JSON.stringify(smartPhone),
                url : "/create",
                success: function (smartPhone) {
                    var content = "";
                    content+="<span>Smart phone was update </span>";
                    content+= smartPhone.producer;
                    document.getElementById("result").innerHTML = content;
                }
            })
        })
    });
</script>

</body>
</html>